# global option
{
	email connor@rhodes.contact
}

# snippets
(authelia_sso) {
	forward_auth 127.0.0.1:9091 {
		uri /api/verify?rd=https://auth.connorrhodes.com
		copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
	}
}

(robots_txt) {
    @robots path /robots.txt
    handle @robots {
        respond 200 {
            body <<EOF
User-agent: *
Disallow: /
EOF
        }
    }
}

# *.connorrhodes.com
auth.connorrhodes.com {
	tls /home/connor/code/infra/certs/cf_origin_certs/auth.connorrhodes.com_certificate.pem /home/connor/code/infra/certs/cf_origin_certs/auth.connorrhodes.com_key.pem
	reverse_proxy 127.0.0.1:9091
}

print.connorrhodes.com {
	tls /home/connor/code/infra/certs/cf_origin_certs/print.connorrhodes.com_certificate.pem /home/connor/code/infra/certs/cf_origin_certs/print.connorrhodes.com_key.pem
	import authelia_sso
	import robots_txt
	reverse_proxy 127.0.0.1:57928
}

home.connorrhodes.com {
	tls /home/connor/code/infra/certs/cf_origin_certs/home.connorrhodes.com_certificate.pem /home/connor/code/infra/certs/cf_origin_certs/home.connorrhodes.com_key.pem
	import authelia_sso
	import robots_txt
	#root * /home/connor/code/infra/priv/homer
	root * /home/connor/.local/share/dashy
	file_server
}

pass.connorrhodes.com {
	tls /home/connor/code/infra/certs/cf_origin_certs/pass.connorrhodes.com_certificate.pem /home/connor/code/infra/certs/cf_origin_certs/pass.connorrhodes.com_key.pem
	import robots_txt
	reverse_proxy 192.168.86.10:37553
}

budget.connorrhodes.com {
	tls /home/connor/code/infra/certs/cf_origin_certs/budget.connorrhodes.com_certificate.pem /home/connor/code/infra/certs/cf_origin_certs/budget.connorrhodes.com_key.pem
	import robots_txt
	reverse_proxy 192.168.86.10:8954
}

sfs.connorrhodes.com {
	tls /home/connor/code/infra/certs/cf_origin_certs/sfs.connorrhodes.com_certificate.pem /home/connor/code/infra/certs/cf_origin_certs/sfs.connorrhodes.com_key.pem
	import robots_txt
	root * /mnt/sfs
	file_server
}

files.connorrhodes.com {
	tls /home/connor/code/infra/certs/cf_origin_certs/files.connorrhodes.com_certificate.pem /home/connor/code/infra/certs/cf_origin_certs/files.connorrhodes.com_key.pem
    import authelia_sso
	import robots_txt
    reverse_proxy 127.0.0.1:26835 {
        header_up X-Forwarded-For {remote_host}
    }
}

news.connorrhodes.com {
	tls /home/connor/code/infra/certs/cf_origin_certs/news.connorrhodes.com_certificate.pem /home/connor/code/infra/certs/cf_origin_certs/news.connorrhodes.com_key.pem
	import robots_txt
    #import authelia_sso # for miniflux
    #reverse_proxy 127.0.0.1:25279 # for miniflux
    reverse_proxy 127.0.0.1:39670 # for freshrss
}

#papers.connorrhodes.com {
#	tls /home/connor/code/infra/certs/cf_origin_certs/papers.connorrhodes.com_certificate.pem /home/connor/code/infra/certs/cf_origin_certs/papers.connorrhodes.com_key.pem
#	import authelia_sso
#	reverse_proxy 127.0.0.1:8783
#}

pf.connorrhodes.com {
	tls /home/connor/code/infra/certs/cf_origin_certs/pf.connorrhodes.com_certificate.pem /home/connor/code/infra/certs/cf_origin_certs/pf.connorrhodes.com_key.pem
	import authelia_sso
	import robots_txt
	reverse_proxy 127.0.0.1:15169 # docker
	#reverse_proxy 127.0.0.1:62268 # nixos
}

shelf.connorrhodes.com {
	import robots_txt
	reverse_proxy 127.0.0.1:61793
}

rl.connorrhodes.com {
	tls /home/connor/code/infra/certs/cf_origin_certs/rl.connorrhodes.com_certificate.pem /home/connor/code/infra/certs/cf_origin_certs/rl.connorrhodes.com_key.pem
	import robots_txt
	reverse_proxy 127.0.0.1:38399
}

shiori.connorrhodes.com {
	import robots_txt
	reverse_proxy 127.0.0.1:54699
}

picard.connorrhodes.com {
	import authelia_sso
	import robots_txt
	reverse_proxy 127.0.0.1:5800
}

calibre.connorrhodes.com {
	import authelia_sso
	import robots_txt
	reverse_proxy 127.0.0.1:29039 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

search.connorrhodes.com {
	tls /home/connor/code/infra/certs/cf_origin_certs/search.connorrhodes.com_certificate.pem /home/connor/code/infra/certs/cf_origin_certs/search.connorrhodes.com_key.pem
	import robots_txt
	root * /home/connor/code/my-unduck
  file_server

  # Rewrite non-existent files to index.html
  # try_files {path} /index.html

  # Set caching headers for static files
  #@static {
  #  path *.js *.css *.svg
  #}
  #header @static Cache-Control "public, max-age=604800"

  # Set correct content types
  @js {
    path *.js
  }
  header @js Content-Type application/javascript

  @json {
    path *.json
  }
  header @json Content-Type application/json
}

photos.connorrhodes.com {
	import robots_txt
	reverse_proxy 192.168.86.10:3001
	request_body {
		max_size 50000MB
	}
}

jf.connorrhodes.com {
	import robots_txt
	reverse_proxy 127.0.0.1:8096
}

mus.connorrhodes.com {
	tls /home/connor/code/infra/certs/cf_origin_certs/mus.connorrhodes.com_certificate.pem /home/connor/code/infra/certs/cf_origin_certs/mus.connorrhodes.com_key.pem
	import robots_txt
  import authelia_sso
	reverse_proxy 127.0.0.1:15612
}

sync.connorrhodes.com {
	tls /home/connor/code/infra/certs/cf_origin_certs/sync.connorrhodes.com_certificate.pem /home/connor/code/infra/certs/cf_origin_certs/sync.connorrhodes.com_key.pem
	import authelia_sso
	import robots_txt
	reverse_proxy 127.0.0.1:42631
}

pve.connorrhodes.com {
	tls /home/connor/code/infra/certs/cf_origin_certs/pve.connorrhodes.com_certificate.pem /home/connor/code/infra/certs/cf_origin_certs/pve.connorrhodes.com_key.pem
	import robots_txt
	reverse_proxy 192.168.86.10:8006 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

*.rhodes.contact {
   tls /home/connor/code/infra/certs/cf_origin_certs/rhodes.contact_certificate.pem /home/connor/code/infra/certs/cf_origin_certs/rhodes.contact_key.pem

    @pairdrop host drop.rhodes.contact
    handle @pairdrop {
        reverse_proxy 127.0.0.1:3000
    }
}

# *.connor.engineer
bootstrap.connor.engineer {
	tls /home/connor/code/infra/certs/cf_origin_certs/bootstrap.connor.engineer_certificate.pem /home/connor/code/infra/certs/cf_origin_certs/bootstrap.connor.engineer_key.pem
	root * /home/connor/code/scripts/bootstrap
	file_server
}
